.places {
  width: calc((984 / 1280) * 100%);
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc((928 / 1024) * 100%);
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: calc((725 / 768) * 100%);
    gap: 73px;
  }
}

@media screen and (max-width: 550px) {
  .places {
    width: 100%;
    gap: 50px;
  }
}
