.place__image {
  width: calc((460 / 472) * 100%);
  grid-area: image;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: calc((440 / 448) * 100%);
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: calc((340 / 349) * 100%);
  }
}

@media screen and (max-width: 550px) {
  .place__image {
    width: 100%;
  }
}
