.lead {
  width: calc((984 / 1280) * 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc((928 / 1024) * 100%);
  }
}

@media screen and (max-width: 928px) {
  .lead {
    width: 100%;
  }
}
