.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: calc((1184 / 1280) * 100%);
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc((928 / 1024) * 100%);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc((720 / 768) * 100%);
  }
}

@media screen and (max-width: 550px) {
  .header {
    width: calc((288 / 320) * 100%);
  }
}
