.place__paragraph {
  margin: 0;
  padding: 0;
  color: white;
  font: normal 18px/29.34px "Inter", Arial, sans-serif;
}

.place__paragraph:nth-child(2) {
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }

  .place__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}
