.cover {
  width: 1184px;
  height: 740px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 92px;
  position: relative;
}

.cover:hover > .cover__overlay {
  opacity: 0.8;
}
