.cover__overlay {
  width: 1184px;
  height: 740px;
  background-color: #2a2c2f;
  z-index: 2;
  position: absolute;
  opacity: 0.3;
  transition: opacity 3s ease;
}

.cover__overlay:hover {
  opacity: 0.8;
}
