.page__photo-grid {
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .page__photo-grid {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 550px) {
  .page__photo-grid {
    margin-bottom: 64px;
  }
}
